[submodule "extern/imgui/src/imgui"]
	path = extern/imgui/src/imgui
	url = https://github.com/ocornut/imgui.git

[submodule "extern/glfw/src/glfw"]
	path = extern/glfw/src/glfw
	url = https://github.com/glfw/glfw.git
